#!/bin/bash

# Set Data and Time Format
DATE_FORMAT='+%d/%m/%Y %H:%M:%S'
# Time to pause between a connection drop
TIME_FAILED_CONN=2
# Time to paues between a internet connection drop
TIME_FAILED_INET=5
# Timeout for internet test
TIMEOUT_VERIFY_INET=15
# Host to use for internet verification
HOST_VERIFY="https://google.com"
# SSH Command
CMD_SSH="ssh"
# SCP Command
CMD_SCP="scp"
# LANTIS Key used for 2-way auth
KEY=lantis.key
# Setup key used for setting up servers
SETUP_KEY="setup.key"
# Common SSH options
COMMON_OPT="-C -2 -o BatchMode=yes -o StrictHostKeyChecking=no -o TCPKeepAlive=yes -o ServerAliveInterval=5 -o ConnectTimeout=15 -o LogLevel=Error"
# Endpoint Connection Back SSH Options
LOCAL_OPT="-N -2 -o ExitOnForwardFailure=yes"
